<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- 타임리프 문법 사용가능 -->
<head>
    <meta charset="UTF-8">
    <title>DETAIL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="wrap">
        <h2 class="lead" th:text="${board.title}">제목</h2>
        <p class="lead" th:text="${board.content}">내용</p>
        <button class="btn btn-dark" th:href="@{/board/modify/{id}(id=${board.id})}">MODIFY</button>
        <button class="btn btn-dark" th:href="@{/board/delete(id=${board.id})}">DELETE</button>
    </div>
</body>
</html>