<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WRITE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="wrap">
        <form class="contact-form" action="/board/writePro" method="post"><!-- 그냥 보여주기 식 주소 -->
            <input class="form-control" name="title" type="text">
            <textarea class="form-control" name="content"></textarea>
            <button class="btn btn-dark" type="submit">OK</button>
        </form>
    </div>
</body>
</html>