<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- 타임리프 문법 사용가능 -->
<head>
  <meta charset="UTF-8">
  <title>WRITE</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<div class="wrap">
  <form th:action="@{/board/update/{id}(id = ${board.id})}" method="post">
    <input class="form-control" name="title" type="text" th:value="${board.title}">
    <textarea class="form-control" name="content" th:text="${board.content}"></textarea>
    <button class="btn btn-dark" type="submit">OK</button>
  </form>
</div>
</body>
</html>