<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!-- 타임리프 문법 사용가능 -->
<head>
    <meta charset="UTF-8">
    <title>DETAIL</title>
    <style>
        body {
            width: 60vw;
            text-align: center;
            margin: 0 auto;
        }
        a, a:hover {
            text-decoration: none;
            border: 1px #434343;
            background: #434343;
            color: #fff;
            padding: 0.3rem 0.3rem;
        }
    </style>
</head>
<body>
    <h2 th:text="${board.title}">제목</h2>
    <p th:text="${board.content}">내용</p>
    <a th:href="@{/board/modify/{id}(id=${board.id})}">MODIFY</a>
    <a th:href="@{/board/delete(id=${board.id})}">DELETE</a>
</body>
</html>