<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WRITE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<div class="container">
    <section class="section">
        <form class="control-radius" action="/board/writePro" method="post"><!-- 그냥 보여주기 식 주소 -->
            <input class="input" name="title" type="text">
            <hr>
            <textarea class="textarea" name="content"></textarea>
            <hr>
            <button class="button is-link" type="submit">OK</button>
        </form>
        </section>
    </div>
</body>
</html>